.social-icons-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 1rem;
	gap: 35px;
	margin-top: 20px;
}
.img1 {
	height: 45px;
	width: 45px;
}