body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	min-height: 100%;
	background-repeat: no-repeat;
	display: flex;
	margin: 0;
	flex-direction: column;
	min-height: 100vh;
	background-color: #0A1612;
}